STVM/STVM/Service References/Stv.Api/Api8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://api.save.tv/v2/Api.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SmilingBits.Data.BusinessLayer.Stv.Api.Contract.Session" />
  <xs:import schemaLocation="http://api.save.tv/v2/Api.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SmilingBits.Data.BusinessLayer.Stv.Api.Contract.Common" />
  <xs:import schemaLocation="http://api.save.tv/v2/Api.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/SmilingBits.Data.BusinessLayer.Stv.Api.Contract.StaticData" />
  <xs:import schemaLocation="http://api.save.tv/v2/Api.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/SmilingBits.Data.BusinessLayer.Stv.Api.Contract.Message" />
  <xs:import schemaLocation="http://api.save.tv/v2/Api.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/SmilingBits.Data.BusinessLayer.Stv.Api.Contract.Telecast" />
  <xs:import schemaLocation="http://api.save.tv/v2/Api.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://api.save.tv/v2/Api.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/SmilingBits.Data.BusinessLayer.Stv.Api.Contract.User" />
  <xs:import schemaLocation="http://api.save.tv/v2/Api.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/SmilingBits.Data.BusinessLayer.Stv.Api.Contract.Star" />
  <xs:import schemaLocation="http://api.save.tv/v2/Api.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/SmilingBits.Data.BusinessLayer.Stv.Api.Contract.Record" />
  <xs:import schemaLocation="http://api.save.tv/v2/Api.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/SmilingBits.Data.BusinessLayer.Stv.Api.Contract.Channel" />
  <xs:import schemaLocation="http://api.save.tv/v2/Api.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/SmilingBits.Data.BusinessLayer.Stv.Api.Contract.VideoArchive" />
  <xs:import schemaLocation="http://api.save.tv/v2/Api.svc?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/SmilingBits.Data.BusinessLayer.Stv.Api.Contract.Download" />
  <xs:element name="CreateSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="apiKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SmilingBits.Data.BusinessLayer.Stv.Api.Contract.Session" minOccurs="0" name="CreateSessionResult" nillable="true" type="q1:Session" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitApplication">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="apiKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitApplicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SmilingBits.Data.BusinessLayer.Stv.Api.Contract.Common" minOccurs="0" name="InitApplicationResult" nillable="true" type="q2:SuccessResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSessionExpiry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSessionExpiryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSessionExpiryResult" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBufferTimeList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBufferTimeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SmilingBits.Data.BusinessLayer.Stv.Api.Contract.StaticData" minOccurs="0" name="GetBufferTimeListResult" nillable="true" type="q3:BufferTimeList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetErrorCodeList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetErrorCodeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SmilingBits.Data.BusinessLayer.Stv.Api.Contract.StaticData" minOccurs="0" name="GetErrorCodeListResult" nillable="true" type="q4:ErrorCodeList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTvCategoryList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTvCategoryListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SmilingBits.Data.BusinessLayer.Stv.Api.Contract.StaticData" minOccurs="0" name="GetTvCategoryListResult" nillable="true" type="q5:TvCategoryList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTvStationGroupList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTvStationGroupListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SmilingBits.Data.BusinessLayer.Stv.Api.Contract.StaticData" minOccurs="0" name="GetTvStationGroupListResult" nillable="true" type="q6:TvStationGroupList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTvStationList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTvStationListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SmilingBits.Data.BusinessLayer.Stv.Api.Contract.StaticData" minOccurs="0" name="GetTvStationListResult" nillable="true" type="q7:TvStationList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShopConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShopConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SmilingBits.Data.BusinessLayer.Stv.Api.Contract.StaticData" minOccurs="0" name="GetShopConfigResult" nillable="true" type="q8:ShopConfig" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="publicDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SmilingBits.Data.BusinessLayer.Stv.Api.Contract.Message" minOccurs="0" name="GetMessagesResult" nillable="true" type="q9:MessageList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTelecastListByNow">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTelecastListByNowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SmilingBits.Data.BusinessLayer.Stv.Api.Contract.Telecast" minOccurs="0" name="GetTelecastListByNowResult" nillable="true" type="q10:TelecastList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTelecastListByAfter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTelecastListByAfterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SmilingBits.Data.BusinessLayer.Stv.Api.Contract.Telecast" minOccurs="0" name="GetTelecastListByAfterResult" nillable="true" type="q11:TelecastList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTelecastListByPrimeTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTelecastListByPrimeTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SmilingBits.Data.BusinessLayer.Stv.Api.Contract.Telecast" minOccurs="0" name="GetTelecastListByPrimeTimeResult" nillable="true" type="q12:TelecastList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTelecastListByHighlights">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="from" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTelecastListByHighlightsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SmilingBits.Data.BusinessLayer.Stv.Api.Contract.Telecast" minOccurs="0" name="GetTelecastListByHighlightsResult" nillable="true" type="q13:TelecastList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTelecastListByHighlightsForCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="categoryId" type="xs:int" />
        <xs:element minOccurs="0" name="from" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTelecastListByHighlightsForCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SmilingBits.Data.BusinessLayer.Stv.Api.Contract.Telecast" minOccurs="0" name="GetTelecastListByHighlightsForCategoryResult" nillable="true" type="q14:TelecastList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTelecastListByFullTextSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="query" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="from" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTelecastListByFullTextSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SmilingBits.Data.BusinessLayer.Stv.Api.Contract.Telecast" minOccurs="0" name="GetTelecastListByFullTextSearchResult" nillable="true" type="q15:TelecastList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTelecastListByCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tvCategoryId" type="xs:int" />
        <xs:element minOccurs="0" name="tvSubCategoryId" type="xs:int" />
        <xs:element minOccurs="0" name="from" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTelecastListByCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/SmilingBits.Data.BusinessLayer.Stv.Api.Contract.Telecast" minOccurs="0" name="GetTelecastListByCategoryResult" nillable="true" type="q16:TelecastList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTelecastListByTvStationAndDay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tvStationId" type="xs:int" />
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTelecastListByTvStationAndDayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/SmilingBits.Data.BusinessLayer.Stv.Api.Contract.Telecast" minOccurs="0" name="GetTelecastListByTvStationAndDayResult" nillable="true" type="q17:TelecastList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTelecastListByStarlet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="starletId" type="xs:int" />
        <xs:element minOccurs="0" name="showUpcommingTelecasts" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTelecastListByStarletResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/SmilingBits.Data.BusinessLayer.Stv.Api.Contract.Telecast" minOccurs="0" name="GetTelecastListByStarletResult" nillable="true" type="q18:TelecastList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFollowingTelecasts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="telecastId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFollowingTelecastsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/SmilingBits.Data.BusinessLayer.Stv.Api.Contract.Telecast" minOccurs="0" name="GetFollowingTelecastsResult" nillable="true" type="q19:TelecastList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTelecastDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="telecastIds" nillable="true" type="q20:ArrayOfint" />
        <xs:element minOccurs="0" name="detailLevel" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTelecastDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/SmilingBits.Data.BusinessLayer.Stv.Api.Contract.Telecast" minOccurs="0" name="GetTelecastDetailResult" nillable="true" type="q21:TelecastDetailList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/SmilingBits.Data.BusinessLayer.Stv.Api.Contract.User" minOccurs="0" name="LoginResult" nillable="true" type="q22:Login" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsLoggedIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsLoggedInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/SmilingBits.Data.BusinessLayer.Stv.Api.Contract.User" minOccurs="0" name="IsLoggedInResult" nillable="true" type="q23:LoggedIn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserUuid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserUuidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/SmilingBits.Data.BusinessLayer.Stv.Api.Contract.User" minOccurs="0" name="GetUserUuidResult" nillable="true" type="q24:UserUuid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/SmilingBits.Data.BusinessLayer.Stv.Api.Contract.User" minOccurs="0" name="GetUserStatusResult" nillable="true" type="q25:UserStatusRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAdultCheckFlag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idCardNr1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idCardNr2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idCardNr3" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idCardNr4" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="zip" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAdultCheckFlagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/SmilingBits.Data.BusinessLayer.Stv.Api.Contract.Common" minOccurs="0" name="SetAdultCheckFlagResult" nillable="true" type="q26:SuccessResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logout">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogoutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/SmilingBits.Data.BusinessLayer.Stv.Api.Contract.Common" minOccurs="0" name="LogoutResult" nillable="true" type="q27:SuccessResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="trackingId" type="xs:int" />
        <xs:element minOccurs="0" name="affiliateToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/SmilingBits.Data.BusinessLayer.Stv.Api.Contract.Common" minOccurs="0" name="ActivateClientResult" nillable="true" type="q28:SuccessResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStarletListByBithdayToday">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStarletListByBithdayTodayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/SmilingBits.Data.BusinessLayer.Stv.Api.Contract.Star" minOccurs="0" name="GetStarletListByBithdayTodayResult" nillable="true" type="q29:StarList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStarletListBySearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="query" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStarletListBySearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/SmilingBits.Data.BusinessLayer.Stv.Api.Contract.Star" minOccurs="0" name="GetStarletListBySearchResult" nillable="true" type="q30:StarList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStarletListByHighlightOfWeek">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStarletListByHighlightOfWeekResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/SmilingBits.Data.BusinessLayer.Stv.Api.Contract.Star" minOccurs="0" name="GetStarletListByHighlightOfWeekResult" nillable="true" type="q31:StarList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStarletDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element xmlns:q32="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="starIds" nillable="true" type="q32:ArrayOfint" />
        <xs:element minOccurs="0" name="detailLevel" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStarletDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/SmilingBits.Data.BusinessLayer.Stv.Api.Contract.Star" minOccurs="0" name="GetStarletDetailResult" nillable="true" type="q33:StarDetailList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element xmlns:q34="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="telecastIds" nillable="true" type="q34:ArrayOfint" />
        <xs:element minOccurs="0" name="startMinBefore" type="xs:int" />
        <xs:element minOccurs="0" name="endMinAfter" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/SmilingBits.Data.BusinessLayer.Stv.Api.Contract.Record" minOccurs="0" name="CreateRecordResult" nillable="true" type="q35:RecordList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNotUserRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="telecastId" type="xs:int" />
        <xs:element minOccurs="0" name="trackingId" type="xs:int" />
        <xs:element minOccurs="0" name="affiliateToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNotUserRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/SmilingBits.Data.BusinessLayer.Stv.Api.Contract.Record" minOccurs="0" name="CreateNotUserRecordResult" nillable="true" type="q36:RecordList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element xmlns:q37="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="telecastIds" nillable="true" type="q37:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/SmilingBits.Data.BusinessLayer.Stv.Api.Contract.Record" minOccurs="0" name="DeleteRecordResult" nillable="true" type="q38:RecordList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecordingFormatList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecordingFormatListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/SmilingBits.Data.BusinessLayer.Stv.Api.Contract.Record" minOccurs="0" name="GetRecordingFormatListResult" nillable="true" type="q39:RecordingFormatList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChannelTimeFrameList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChannelTimeFrameListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/SmilingBits.Data.BusinessLayer.Stv.Api.Contract.Channel" minOccurs="0" name="GetChannelTimeFrameListResult" nillable="true" type="q40:ChannelTimeFrameList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChannelList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChannelListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/SmilingBits.Data.BusinessLayer.Stv.Api.Contract.Channel" minOccurs="0" name="GetChannelListResult" nillable="true" type="q41:ChannelList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTelecastListByChannel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="channelId" type="xs:int" />
        <xs:element minOccurs="0" name="from" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTelecastListByChannelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/SmilingBits.Data.BusinessLayer.Stv.Api.Contract.Channel" minOccurs="0" name="GetTelecastListByChannelResult" nillable="true" type="q42:ChannelTelecastList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteChannel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="channelId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteChannelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/SmilingBits.Data.BusinessLayer.Stv.Api.Contract.Common" minOccurs="0" name="DeleteChannelResult" nillable="true" type="q43:SuccessResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecordChannel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="channelId" type="xs:int" />
        <xs:element minOccurs="0" name="autoRecord" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecordChannelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/SmilingBits.Data.BusinessLayer.Stv.Api.Contract.Common" minOccurs="0" name="RecordChannelResult" nillable="true" type="q44:SuccessResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateChannelByTitle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateChannelByTitleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/SmilingBits.Data.BusinessLayer.Stv.Api.Contract.Channel" minOccurs="0" name="CreateChannelByTitleResult" nillable="true" type="q45:ChannelCreate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateChannelByStarlet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="starletId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateChannelByStarletResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/SmilingBits.Data.BusinessLayer.Stv.Api.Contract.Channel" minOccurs="0" name="CreateChannelByStarletResult" nillable="true" type="q46:ChannelCreate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateChannelManual">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tvStationId" type="xs:int" />
        <xs:element minOccurs="0" name="channelTimeFrameId" type="xs:int" />
        <xs:element minOccurs="0" name="tvCategoryId" type="xs:int" />
        <xs:element minOccurs="0" name="tvSubCategoryId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateChannelManualResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/SmilingBits.Data.BusinessLayer.Stv.Api.Contract.Channel" minOccurs="0" name="CreateChannelManualResult" nillable="true" type="q47:ChannelCreate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateChannelByTelecast">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="telecastId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateChannelByTelecastResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/SmilingBits.Data.BusinessLayer.Stv.Api.Contract.Channel" minOccurs="0" name="CreateChannelByTelecastResult" nillable="true" type="q48:ChannelCreate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVideoArchiveList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/SmilingBits.Data.BusinessLayer.Stv.Api.Contract.VideoArchive" minOccurs="0" name="filter" nillable="true" type="q49:VideoArchiveFilter" />
        <xs:element minOccurs="0" name="from" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVideoArchiveListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/SmilingBits.Data.BusinessLayer.Stv.Api.Contract.VideoArchive" minOccurs="0" name="GetVideoArchiveListResult" nillable="true" type="q50:VideoArchiveList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SimpleParamsGetVideoArchiveList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="channelId" type="xs:int" />
        <xs:element minOccurs="0" name="filterType" type="xs:int" />
        <xs:element minOccurs="0" name="recordingState" type="xs:int" />
        <xs:element minOccurs="0" name="tvCategoryId" type="xs:int" />
        <xs:element minOccurs="0" name="tvSubCategoryId" type="xs:int" />
        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="textSearchType" type="xs:int" />
        <xs:element minOccurs="0" name="from" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SimpleParamsGetVideoArchiveListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/SmilingBits.Data.BusinessLayer.Stv.Api.Contract.VideoArchive" minOccurs="0" name="SimpleParamsGetVideoArchiveListResult" nillable="true" type="q51:VideoArchiveList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVideoArchiveDelta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="changesSince" type="xs:dateTime" />
        <xs:element minOccurs="0" name="from" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVideoArchiveDeltaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/SmilingBits.Data.BusinessLayer.Stv.Api.Contract.VideoArchive" minOccurs="0" name="GetVideoArchiveDeltaResult" nillable="true" type="q52:VideoArchiveDeltaList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdFreeState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="telecastId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdFreeStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/SmilingBits.Data.BusinessLayer.Stv.Api.Contract.VideoArchive" minOccurs="0" name="GetAdFreeStateResult" nillable="true" type="q53:AdFree" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InternalGetVideoArchiveList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="apiKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="filterType" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="channelId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="tvCategoryId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="tvSubCategoryId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="textSearchType" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="recordingState" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="aggregateEntries" type="xs:boolean" />
        <xs:element minOccurs="0" name="excludeFollowingTelecasts" type="xs:boolean" />
        <xs:element minOccurs="0" name="excludedTelecastIds" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="skip" type="xs:int" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
        <xs:element minOccurs="0" name="removeDeletedTelecasts" type="xs:boolean" />
        <xs:element minOccurs="0" name="titleGroupLimit" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InternalGetVideoArchiveListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/SmilingBits.Data.BusinessLayer.Stv.Api.Contract.VideoArchive" minOccurs="0" name="InternalGetVideoArchiveListResult" nillable="true" type="q54:VideoArchiveList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSimultaneousDownloadConnectionCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSimultaneousDownloadConnectionCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/SmilingBits.Data.BusinessLayer.Stv.Api.Contract.Download" minOccurs="0" name="GetSimultaneousDownloadConnectionCountResult" nillable="true" type="q55:SimultaneousDownloadConnection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStreamingUrl">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="telecastId" type="xs:int" />
        <xs:element minOccurs="0" name="recordingFormatId" type="xs:int" />
        <xs:element minOccurs="0" name="adFree" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStreamingUrlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/SmilingBits.Data.BusinessLayer.Stv.Api.Contract.Download" minOccurs="0" name="GetStreamingUrlResult" nillable="true" type="q56:StreamingUrl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InternalGetStreamingUrl">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="apiKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="telecastId" type="xs:int" />
        <xs:element minOccurs="0" name="recordingFormatId" type="xs:int" />
        <xs:element minOccurs="0" name="adFree" type="xs:boolean" />
        <xs:element minOccurs="0" name="hasPremiumStatus" type="xs:boolean" />
        <xs:element minOccurs="0" name="applyQueries" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InternalGetStreamingUrlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/SmilingBits.Data.BusinessLayer.Stv.Api.Contract.Download" minOccurs="0" name="InternalGetStreamingUrlResult" nillable="true" type="q57:ExtendedStreamingUrl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InternalGetHdTvStationList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="apiKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InternalGetHdTvStationListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/SmilingBits.Data.BusinessLayer.Stv.Api.Contract.Record" minOccurs="0" name="InternalGetHdTvStationListResult" nillable="true" type="q58:HdTvStationList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NagiosCheck">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NagiosCheckResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>